config==0.5.1
configobj==5.0.6
entrypoints==0.3
httplib2==0.14.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
oauthlib==3.2.0
pycurl==7.45.1
requests==2.27.1
simplejson==3.16.0
tweepy==4.10.0
urllib3==1.25.8